# Fixed bottom base case
site:
  depth: 34  # COE Review 2021
  distance: 116  # COE Review 2021
  distance_to_landfall: 50  # COE Review 2021
  mean_windspeed: 9.17   # avg from weather profile in the Vineyard Wind 1 site
plant:
  layout: grid
  num_turbines: 50
  row_spacing: 7  # COE Review 2021
  substation_distance: 1
  turbine_spacing: 7  # COE Review 2021
landfall:
  interconnection_distance: 9  # COE Review 2021
  trench_length: 7   # COE Review 2021
turbine: 12MW_generic
port:
  monthly_rate: 2261495.841    # 2000000.0 # COE Review 2021 multiplied by % increase from 2020 to 2022 from U.S Bureau Labor Statistics
  sub_assembly_lines: 1  # COE Review 2021
  turbine_assembly_cranes: 1  # COE Review 2021

# Vessels
# TODO: CHECK IF THESE NEED TO MATCH ORBIT DEFAULTS
array_cable_install_vessel: demand_adjusted_cable_lay_vessel
export_cable_bury_vessel: demand_adjusted_cable_lay_vessel
export_cable_install_vessel: demand_adjusted_cable_lay_vessel
spi_vessel: demand_adjusted_scour_protection_vessel
oss_install_vessel: demand_adjusted_heavy_lift_vessel
wtiv: demand_adjusted_wtiv

# Module Specific
monopile_design:
  monopile_steel_cost: 3487.5 # 2250 # COE Review 2021 + applied % increase from 2020 to 2022 in steel costs according to 55 % Steel and Iron Price index increase
  tp_steel_cost: 5006.5 # 3230 # COE Review 2021 + applied % increase from 2020 to 2022 in steel costs according to 55 % Steel and Iron Price index increase
scour_protection_design:
  cost_per_tonne: 40  # COE Review 2021
  scour_protection_depth: 1  # COE Review 2021
oss_design:
  num_substations: 1
array_system_design:
  cables:
  - XLPE_630mm_66kV
  location_data: base_fixed_bottom_2022_layout
export_system_design:
  cables: XLPE_1000mm_220kV
  percent_added_length: 0.0
OffshoreSubstationInstallation:
  feeder: demand_adjusted_heavy_feeder_vessel
  num_feeders: 1
# Configured Phases
design_phases:
- CustomArraySystemDesign
- ElectricalDesign
- MonopileDesign
- ScourProtectionDesign
install_phases:
  ArrayCableInstallation: 0
  ExportCableInstallation: 0
  MonopileInstallation: !!python/tuple
  - ScourProtectionInstallation
  - 0.5
  OffshoreSubstationInstallation: 0
  ScourProtectionInstallation: 0
  TurbineInstallation: !!python/tuple
  - MonopileInstallation
  - 0.1

project_parameters:
  turbine_capex: 1700 # new assumed turbine price COE Review 2022
  commissioning: 0.01
  decommissioning: 0.15
