description: Base Fixed Bottom Layout using Jensen-Jimenez
farm:
  layout_x:
  - 10606.05
  - 9090.9
  - 7575.75
  - 6060.6
  - 4545.45
  - 3030.3
  - 1515.15
  - 10606.05
  - 9090.9
  - 7575.75
  - 6060.6
  - 4545.45
  - 3030.3
  - 1515.15
  - 10606.05
  - 9090.9
  - 7575.75
  - 6060.6
  - 4545.45
  - 3030.3
  - 1515.15
  - 10606.05
  - 9090.9
  - 7575.75
  - 6060.6
  - 4545.45
  - 3030.3
  - 1515.15
  - 6060.6
  - 4545.45
  - 3030.3
  - 1515.15
  - 12121.2
  - 10606.05
  - 9090.9
  - 7575.75
  - 10606.05
  - 9090.9
  - 7575.75
  - 6060.6
  - 4545.45
  - 3030.3
  - 1515.15
  - 10606.05
  - 9090.9
  - 7575.75
  - 6060.6
  - 4545.45
  - 3030.3
  - 1515.15
  layout_y:
  - 9090.9
  - 9090.9
  - 9090.9
  - 9090.9
  - 9090.9
  - 9090.9
  - 9090.9
  - 7575.75
  - 7575.75
  - 7575.75
  - 7575.75
  - 7575.75
  - 7575.75
  - 7575.75
  - 6060.6
  - 6060.6
  - 6060.6
  - 6060.6
  - 6060.6
  - 6060.6
  - 6060.6
  - 4545.45
  - 4545.45
  - 4545.45
  - 4545.45
  - 4545.45
  - 4545.45
  - 4545.45
  - 3030.3
  - 3030.3
  - 3030.3
  - 3030.3
  - 4545.45
  - 3030.3
  - 3030.3
  - 3030.3
  - 1515.15
  - 1515.15
  - 1515.15
  - 1515.15
  - 1515.15
  - 1515.15
  - 1515.15
  - 0
  - 0
  - 0
  - 0
  - 0
  - 0
  - 0
  turbine_type:
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
  - 12MW_216m
floris_version: v3.0.0
flow_field:
  air_density: 1.225
  reference_wind_height: -1
  wind_directions:
  - 270.0
  wind_shear: 0.12
  wind_speeds:
  - 8.98
  wind_veer: 0.0
  turbulence_intensities:
  - 0.06
logging:
  console:
    enable: true
    level: WARNING
  file:
    enable: false
    level: WARNING
name: COE_2022_fixed_bottom Layout Jensen
solver:
  turbine_grid_points: 3
  type: turbine_grid
wake:
  enable_secondary_steering: true
  enable_transverse_velocities: true
  enable_yaw_added_recovery: true
  model_strings:
    combination_model: sosfs
    deflection_model: jimenez
    turbulence_model: crespo_hernandez
    velocity_model: jensen
  wake_deflection_parameters:
    gauss:
      ad: 0.0
      alpha: 0.58
      bd: 0.0
      beta: 0.077
      dm: 1.0
      ka: 0.38
      kb: 0.004
    jimenez:
      ad: 0.0
      bd: 0.0
      kd: 0.05
  wake_turbulence_parameters:
    crespo_hernandez:
      ai: 0.8
      constant: 0.5
      downstream: -0.32
      initial: 0.1
  wake_velocity_parameters:
    cc:
      a_f: 3.11
      a_s: 0.179367259
      alpha_mod: 1.0
      b_f: -0.68
      b_s: 0.0118889215
      c_f: 2.41
      c_s1: 0.0563691592
      c_s2: 0.13290157
    gauss:
      alpha: 0.58
      beta: 0.077
      ka: 0.38
      kb: 0.004
    jensen:
      we: 0.05
  enable_active_wake_mixing: false
