# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: WAVES
author: National Renewable Energy Laboratory
# logo: logo.png
copyright: '2023'
only_build_toc_files: false
exclude_patterns: [_build, Thumbs.db, .DS_Store, "**.ipynb_checkpoints", .github]

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: auto
  timeout: -1
  merge_streams: true
  exclude_patterns:
    - _build
    - Thumbs.db
    - DS_Store
    - "**.ipynb_checkpoints"
    # - waves_example.md  # doesn't need to be run every time when building docs

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/NREL/WAVES
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: main  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
# See sphinx:html_theme_options below
# html:
#   use_issues_button: true
#   use_repository_button: true
#   use_edit_page_button: true
#   baseurl: http://nrel.github.io/WAVES

sphinx:
  extra_extensions:
  - "sphinx.ext.autodoc"
  - "sphinx.ext.autosummary"
  - "sphinx.ext.viewcode"
  - "sphinx_autodoc_typehints"
  - "sphinxcontrib.autoyaml"
  - "sphinx.ext.napoleon"

  config:
    html_theme: sphinx_book_theme
    html_theme_options:
      use_issues_button: true
      use_repository_button: true
      use_edit_page_button: true
      show_toc_level: 2
      repository_url: "https://github.com/NREL/WAVES"
      repository_branch: main
      icon_links: [
        {
            name: GitHub,
            url: "https://github.com/NREL/WAVES",
            icon: fa-brands fa-github,
        },
        {
            name: PyPI version,
            url: "https://pypi.org/project/WAVES/",
            icon: "https://img.shields.io/pypi/v/WAVES?link=https%3A%2F%2Fpypi.org%2Fproject%2FWAVES%2F",
            type: url,
        },
        {
            name: Binder,
            url: "https://mybinder.org/v2/gh/NREL/WAVES/main?filepath=examples",
            icon: "https://mybinder.org/badge_logo.svg",
            type: url,
        },
      ]
    language: 'python'
    autoyaml_level: 3
    autosummary_generate: true
    autodoc_default_options:
      members: true
      member-order: bysource
      undoc-members: true
      private-members: true
      # special-members: true
      # inherited-members
      # show-inheritance
      # ignore-module-all
      # imported-members: true
      # exclude-members
      # class-doc-from
      # no-value
    autodoc_typehints: description
    napoleon_use_admonition_for_notes: true
    napoleon_use_rtype: false
    nb_merge_streams: true
